* {
    background-color: #1e1c2a !important ;
    
}

#nav-main {
    background-color: #1e1c2a;
    padding: 0 7%;
}

#nav-main a {
    color: white;
    font-size: 1.3rem;
    margin-left: 30px;
}

#nav-main a:hover {
    color: orange;
    transform: scale(1) translateY(5px);
    transition: .4s;
}
#search-btn:hover{
    color: red;
}

#search-box ::placeholder,
#search-text {
    color: white;
}

#search-text {
    box-shadow: -1px 1px 12px rgb(161, 159, 159);
}

#search-box {
    padding-top: 20px;
    padding-bottom: 2%;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #e3dede;
}
.navbar-toggler-icon{
    background-color: white !important;
}
@media only screen and (max-width:1024px) {
    #nav-main a {
        margin-left: 20px;
    }
    
    #search-box {
        margin-left: 29px;
        margin-top: 0px;
    }
    
    #home-img {
        margin-top: 80px;
        margin-left: 15px;
    }
}
@media only screen and (max-width:768px){
    body{
        background-color: red;
    }
    #home-img {
        margin-top: 120px;
        margin-left: 57px;
    }
    #home-text h1{
        font-size: 3rem !important;
    }
}

/* NAVBAR DONE */
/* HOME */
#home-text {
    margin-top: 200px;
}

#home-text h1 {
    color: rgb(242, 164, 20);
    font-size: 70px;
}

#home-text p {
    color: white;
    font-size: 25px;
}

#home-button{
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(242, 164, 20) !important;
}
#home-button:hover{
    transform: scale(1) translateY(5px);
    transition: .4s;

}
/* About US */
#about-text{
    margin-top: 100px;
}
@media only screen and (max-width:1024px){
    #about-text{
        margin-top: 10px;
    }
}
@media only screen and (max-width:770px){
    #about-text h2{
        font-size: 1.5rem;
    }
}
/* Menu */
.add2cart{
    background-color: white !important;
    /* color: white; */
    padding: 2%;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    margin: 10px 0px;
}
.add2cart i{
    background-color: white !important ;
}
.add2cart:hover {
    transform: scale(1) translateY(5px);
    transition: .4s;
}
@media only screen and (max-width:1024px) {
    #cart3{
        margin: 4px;
    }
}
@media only screen and (max-width:768px) {
    #cart2{
        margin: -5px;
    }
}
@media only screen and (max-width:430px) {
    #cart2{
        margin-bottom: 25px;
    }
}
#links{
    display: inline-block;
}
#links a{
    font-size: 1.2rem;
    padding-top: 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
#links a:hover{
    color: orange;
    transform: scale(1) translateX(10px);
    transition: 0.4s;
}
#social-links i{
   cursor: pointer; 
}
#social-links i:hover{
    color: orange;
    transition:.4s;
}